
# Java compilado
*.class

# Logs
*.log

# Maven
target/

# Pastas de compilação
bin/
out/

# IDEs
.vscode/
.idea/
.settings/
.project
.classpath

# Sistema operacional
.DS_Store
Thumbs.db

# Arquivos locais e credenciais
.env
